h1.chaptertitle-c-2{
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    
    text-align: center;
    font-family: "heiti";
    font-size: 1.6em;
}

div.chatu_img-51{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 0em;
    text-align: justify;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 100%;
}

img.pic-img-w10{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 10%;
}

p.poemContent-2-1{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-2-top-1{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}



p.signContent-1-kaiti{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: right;
    font-family: "kaiti";
    font-size: 1em;
}

p.signContent-1-kaiti-top{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: right;
    font-family: "kaiti";
    font-size: 1em;
}

